.container{
  color:rgb(65, 74, 78);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  font-style: italic;
  font-size: x-large;  
  background-color: rgb(156, 214, 174);
  display: flex;
  flex-direction: column;
  width: 100%;   
  align-items: center;
  border-radius: 20px;
  width: 1000px;
  height: 600px;
}

.img{
  width: 300px;
  height: 300px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 5PX -5PX 5PX #333;
}

.textoFrase{
  font-style: italic;
  color: #dd7e24;
  text-align: center;
  font-size: x-large;

}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 100px;
  background: rgb(43, 97, 121);
 }
 
 table {
 /* basic */
  background-color: #fff;
  margin: 0 auto;
  width: 200px;
  padding: 100px;
  text-align: center;
 /* border-radius */
  border-radius: 20px;
 /* box-shadow */
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  border-collapse: collapse;
 }
 
 table td{
   color: white;
 }
 
 

